<div class="card" style=" border-width: medium; height: 70px; width: 20%;
  margin: 1rem 1%;
  float: left;
  border-radius: .4rem;
  position: relative; background: indigo ">


  <div class="card-body" style="cursor: pointer; " onclick="">
    <%= link_to note.note_title, note, :class=>'stretched-link' %>
  </div>
</div>











<!-- <p> <strong>Note content:</strong> < %= note.note_content %> </p> -->
<!-- <div id="< %= dom_id note %>"> </div> -->