<div class="card" style=" border-width: medium; height: 80px; width: 20%;
  margin: 1rem 1%;
  float: left;
  border-radius: .4rem;
  position: relative; background: #2E2F30; ">


  <div class="card-body text-center">
    <%= link_to note.note_title, note, :style => "text-decoration: none; color: green; font-size: larger;" %>
  </div>


</div>


<!--< %= link_to "Edit note", edit_note_path(@note) %> -->
<!--  -->








<!-- <p> <strong>Note content:</strong> < %= note.note_content %> </p> -->
<!-- <div id="< %= dom_id note %>"> </div> -->