<div class="container" style="width: 80%" >
  <fieldset class="border-left-2 border-bottom-2 border-right-2 border-top-0">
    <p class="text-center" style="white-space: pre-wrap; display: inline-block;">
      <%= @note.note_content %>
    </p>
  </fieldset>
</div>





<div class="text-center">
  <div class="text-left">
     <span  style="padding: 29%">
    <%= link_to "Edit note", edit_note_path(@note), :style => "text-decoration: none; color: black;" %>
  </span>
    <span style="">
    <%= link_to "Back to notes", notes_path , :style => "text-decoration: none; color: black;"%>
  </span>
  </div>


  <%= button_to "Delete note", @note, method: :delete, :style => "border-radius: 23%" %>
</div>



