<div class="container" style="width: 80%" >
  <fieldset class="border-left-2 border-bottom-2 border-right-2 border-top-0">
    <p class="text-center" style="white-space: pre-wrap; display: inline-block;">
      <%= @note.note_content %>
    </p>
  </fieldset>
</div>





<div>
  <%= link_to "Back to notes", notes_path %>
</div>



<!--< %= link_to "Edit note", edit_note_path(@note) %> -->
<!--  < %= button_to "Delete note", @note, method: :delete %> -->