<nav class="navbar navbar-expand navbar-dark bg-dark">
  <!--this is a link back to the homepage -->
  <div class="container-fluid" >
    <img class="navbar-brand" src="https://www.designfreelogoonline.com/wp-content/uploads/2015/01/00263-Design-free-feather-ink-pen-Logo-Template-03.png" alt="Logo" width="60" height="50">
    <%= link_to 'Online Notebook', root_path, class:"navbar-brand" %>
    <div class="col-sm" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item" >
          <%= render "user/session_manager" %>
        </li>
      </ul>
    </div>
  </div>
</nav>





